.addmenu-container {
    width: 80%;
    margin: auto 10%;
    height: 85%;
    background-color: #fbfbfb;
    margin-bottom: 30px;
    border-radius: 5px;
}

.add-item-section {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-item-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    height: 56px;
    width: 176px;
    border-radius: 5px;
    color: #828282;
}

.add-item-button:hover {
    cursor: pointer;
    color:#999999;
    background-color: #f6f6f6;
    transition: all 0.3s ease-in-out;
    outline: none;
    text-decoration: none;
}

.add-item-icon {
    margin-right: 5px;
}

.fileContainer {
    height: 294px !important;
    margin: 40px !important;
    margin-top: 0px !important;
}

.food-details-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 25px;
    color: grey;
    margin-bottom: 20px;
}

.uploaded-image {
    height: 294px !important;
    margin: 40px !important;
    margin-top: 0px !important;
    border-radius: 10px;
    box-shadow: 0px 1px 10px 1px #adadad;
}

.form-input-menu {
    margin: 2px;
    width: calc(100% - 40px);
    border: none;
    height: 50px;
    box-shadow: 0px 1px 5px 1px #ececec;
    border-radius: 5px;
    padding: 0px 20px 0px 20px;
    color: grey;
    z-index: 100;
}

.form-input-menu::placeholder {
    color: rgb(199, 199, 199);
}

.form-input-menu-area {
    margin: 2px;
    width: calc(100% - 40px);
    border: none;
    height: 50px;
    box-shadow: 0px 1px 5px 1px #ececec;
    border-radius: 5px;
    margin-top: 15px;
    min-height: 100px;
    max-height: 200px;
    padding: 10px 20px 10px 20px;
    color: grey;
    margin-bottom: 10px;
}

.form-input-menu-area::placeholder {
    color: rgb(199, 199, 199);
}

.modals-exist {
    position: relative;
}

.category-dropdown {
    margin: 2px;
    margin-top: 10px;
    position: absolute;
    height: 100px;
    width: calc(100% - 20px);
    background-color: white;
    box-shadow: 0px 1px 5px 1px #ececec;
    border-radius: 5px;
    z-index: 100;
    --animate-duration: 0.3s;
}

.category-ul {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.category-ul > li {
    height: calc(33% - 2px);
    width: calc(100% - 4px);
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 20px;
    color: grey;
    margin: 2px;
    border-radius: 5px;
    font-size: 12px;
}

.category-ul > li:hover {
    cursor: pointer;
    background-color: rgb(247, 247, 247);
    transition: all 0.3s ease-in-out;
}

.arrow {
    position: absolute;
    right: 12px;
    top: 15px;
    color: #c3c3c3;
    transition: all 0.3s ease-in-out;
}

.arrow-up {
    transform: rotate(
        180deg
    );
    transition: all 0.3s ease-in-out;
}

.veg-toggler {
    position: relative;
    display: flex;
    align-items: center;
    color: grey;
    background-color: white;
    font-size: 12px;
    padding: 0px;
}

.veg-toggler > label {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

.veg-toggler > label:hover {
    cursor: pointer;
    background-color: #fafafa;
    transition: all 0.3s ease-in-out;
}

.veg-toggler > span {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 5px;
    background-color: green;
    opacity: 0.3;
    transition: all 0.3s ease-in-out;
}

.switch-on {
    left: 50% !important;
    background-color: red !important;
    transition: all 0.3s ease-in-out;
}

.veg-toggler > span:hover {
    cursor: pointer;
    box-shadow: 0px 1px 10px 1px grey;
    transition: all 0.3s ease-in-out;
}

.estimate-picker {
    margin: 2px;
    margin-top: 17px;
    width: calc(100% - 40px);
    height: 30px;
    box-shadow: 0px 1px 5px 1px #ececec;
    background-color: white;
    border-radius: 5px;
    display: flex;
}

.estimate-picker > label {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    font-weight: bold;
    color: rgb(184, 184, 184);
}

.estimate-picker > span {
    height: 100%;
    width: calc((100% - 20%) / 5);
    color: rgb(184, 184, 184);
    display: flex;
    font-size: 10px;
    justify-content: center;
    align-items: center;
    border-left: 1px solid rgb(240, 240, 240);
}

.estimate-picker > span:hover {
    cursor: pointer;
}

.span-active {
    background-color: #f5f5f599;
    font-weight: bold;
}

.add-menu-control {
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-menu-control > button {
    border: none;
    height: 50px;
    width: 168px;
    margin: 10px;
    color: grey;
    border-radius: 5px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-menu-control > button:hover {
    cursor: pointer;
}

.submit-item-button {
    background-color: #ff8800;
    color: white !important;
}

.submit-item-button:focus {
    outline: none;
    text-decoration: none;
}

.submit-item-button:hover {
    background-color: #ffa43c;
    transition: all 0.3s ease-in-out;
}

.cancel-button {
    outline: none;
    text-decoration: none;
}

.cancel-button:focus {
    outline: none;
    text-decoration: none;
}

.cancel-button:hover {
    outline: none;
    text-decoration: none;
    background-color: rgb(243, 243, 243);
    transition: all 0.3s ease-in-out;
}