.kitchen-card {
    height: 400px;
    width: 350px;
}

.kitchen-card:hover {
    cursor: pointer;
}

.kitchen-image-container {
    width: 100%;
    height: 240px;
}

.kitchen-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.kitchen-title {
    font-size: 2.6vh;
    font-weight: 500;
    color: #404040;
}

.kitchen-rating {

}

.kitchen-desc {
    font-size: 2vh;
}

.kitchen-price-time {
    font-size: 2vh;
    color: grey;
}