.top-kitchens-container {
    width: 80%;
    margin: auto 10%;
    height: 180px;
    position: relative;
}

.top-kitchens-header {
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 26px;
    color: rgb(102, 102, 102);
    margin-bottom: 30px;
}

.kitchen-spot-container {
    width: 120px !important;
    height: 120px !important;
    box-shadow: 0px 1px 14px 1px #dedede;
    border-radius: 10px;
    border: 1px solid #eaeaea;
}

.kitchen-spot {
    width: 100% !important;
    height: 100% !important;
    object-fit: contain;
}

.top-kitchens-container > span {
    color: grey;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 200;
    top: 75%;
    transform: translateY(-75%);
    background-color: white;
    border-radius: 50%;
    box-shadow: rgb(0 0 0 / 20%) 0px 3px 5px -1px, rgb(0 0 0 / 14%) 0px 6px 10px 0px, rgb(0 0 0 / 12%) 0px 1px 18px 0px;
}

.top-kitchens-container > span:hover {
    cursor: pointer;
    background-color: rgb(250, 250, 250);
    transition: all 0.3s ease-in-out;
}

.left-arrow-cc {
    left: -17px;
}

.right-arrow-cc {
    right: -17px;
}