.menu-header {
    position: relative;   
}

.back-button-menu {
    position: absolute;
    right: 15px;
    top: 60%;
    transform: translateY(-60%);
    color: grey;
}

.back-button-menu:hover {
    cursor: pointer;
    color: rgb(102, 102, 102);
    transition: all 0.3s ease-in-out;
}