.menu-list-container {
    width: 100%;
    height: 100%;
}

.menu-item-container {
    width: 100%;
    height: 120px;
    display: flex;
    margin: 10px;
}

.menu-image {
    width: 120px;
    height: 100%;
    object-fit: cover;
}

.menu-item-details {
    height: 120px;
    width: 100%;
    margin-left: 12px;
}

.menu-item-title {
    font-weight: 600;
    font-size: 2.5vh;
    color: #5f5f5f;
}

.menu-item-price {
    font-size: 2vh;
    color: #5f5f5f;
}