.register-main-container {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 300;
}

.register-overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.5;
    z-index: 100;
}

.register-container {
    z-index: 200;
    background-color: white;
    height: 450px;
    width: 450px;
    position: absolute;
    margin: calc((100vh - 450px)/2) calc((100vw - 450px)/2);
    border-radius: 10px;
    animation-duration: 0.5s;
}

.register-header {
    height: 55px;
    width: auto;
    display: flex;
    justify-content: space-between;
    padding: 0px 16px;
    align-items: center;
    margin-bottom: 10px;
}

.register-text {
    font-size: 25px;
    font-weight: 500;
    color: #565656;
}

.register-close-icon {

}

.register-close-icon:hover {
    cursor: pointer;
    color: grey;
    transition: all 0.3s ease-in-out;
}

.react-tel-input .form-control {
    width: 100% !important;
    height: 46px !important;
    font-size: 20px !important;
}

.react-tel-input {
    width: 93% !important;
}

.register-phone {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 70px;
}

.register-button-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}

.register-button {
    width: 93%;
    height: 46px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #c3c3c3;
    font-size: 15px;
    font-weight: 600;
}

.register-button:hover {
    cursor: pointer;
    background-color: #bdbdbd;
    transition: all 0.3s ease-in-out;
}

.register-email {

}

.register-email-button {
    height: 46px;
    width: 93%;
    margin: auto 3.5%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgb(214, 214, 214);
    color: rgb(116, 116, 116);
    font-weight: 500;
    font-size: 16px;
}

.register-email-button:hover {
    cursor: pointer;
    background-color: rgb(250, 250, 250);
    transition: all 0.3s ease-in-out;
}

.register-google {

}

.register-google-button {
    height: 46px;
    width: 93%;
    margin: auto 3.5%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgb(214, 214, 214);
    color: rgb(116, 116, 116);
    font-weight: 500;
    font-size: 16px;
}

.register-google-button:hover {
    cursor: pointer;
    background-color: rgb(250, 250, 250);
    transition: all 0.3s ease-in-out;
}

.register-footer {
    width: 93%;
    margin: 20px 3.5%;
}

.new-user-span {
    color: grey;
}

.new-user-span-acc {
    color: red;
}

.new-user-span-acc:hover {
    cursor: pointer;
    color: rgb(219, 0, 0);
    transition: all 0.3s ease-in-out;
}

.pp-separator-pdp {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0px 1.7vw;
    color: rgb(187, 187, 187);
    margin-bottom: 12px;
    font-weight: bold;
}

.pp-separator-pdp::before, .pp-separator-pdp::after {
    content: '';
    flex: 1;
    border-bottom: 2px solid rgb(243, 243, 243);
}

.pp-separator-pdp::before {
    margin-right: .30em;
}

.pp-separator-pdp::after {
    margin-left: .30em;
}

.pp-inner-separator {
    background-color: white;
    width: 48%;
}

.hr-register-cus {
    margin: auto 3.5%;
    border-top: 1px solid #ececec;
}

.icon-right-margin {
    margin-right: 10px;
}

.register-form {
    width: 93%;
    margin: auto 3.5%;
}

.form-input-style {
    width: 100%;
    margin: 10px 0px;
    height: 42px;
    border-radius: 5px;
    border: 1px solid #dadada;
    font-size: 18px;
    padding-left: 15px;
}

.form-input-style::placeholder {
    color: rgb(177, 177, 177);
}