.navbar-container {
    width: 80%;
    margin: auto 10%;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 200;
}

.search-container {
    position: relative;
}

.search-icon {
    position: absolute;
    left: 2.5rem;
    top: 24%;
    color: #ececec;
}

.navbar-brand {
    
}

.navbar-logo {
    width: 90px;
}

.search-box {
    margin: auto 30px;
    width: 44vw;
    height: 40px;
    border-radius: 5px;
    border: none;
    padding-left: 38px;
    color: grey;
    box-shadow: 0px 1px 3px 1px #efefef;
}

.search-box::placeholder {
    color: rgb(170, 170, 170);
}

.log-reg-button {
    border: none;
    width: 80px;
    background-color: white;
    font-size: 18px;
    color: grey;
}

.log-reg-button:hover {
    cursor: pointer;
    color: rgb(100, 100, 100);
    transition: all 0.3s ease-in-out;
}