.on-boarding-container {
    width: 100%;
    height: 100%;
    display: flex;
}

.buyer-part {
    width: 50%;
    height: 100%;
    background-color: white;
    color: rgb(121, 121, 121);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn;
    animation-duration: 2s;
}

.color-switch {
    background-color: #ff8800 !important;
    color: white !important;
    transition: all 0.3s ease-in-out !important;
}

.seller-part {
    width: 50%;
    height: 100%;
    background-color: white;
    color: rgb(121, 121, 121);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn;
    animation-duration: 2s;
}

.seller-part:hover {
    cursor: pointer;
}

.buyer-part:hover {
    cursor: pointer;
}

.type-title {
    font-family: 'DS-Medium';
}

.type-name {
    padding-left: 102px;
    font-size: 9vh;
    position: absolute;
    top: 36px;
    left: -37px;
}

.door-box {
    font-family: 'DS-Medium';
    width: 70%;
    height: 17%;
    position: relative;
}