body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@font-face {
  font-family: 'DS-Bold';
  src: url(./Assets/Fonts/DancingScript-Bold.ttf);
}

@font-face {
  font-family: 'DS-Medium';
  src: url(./Assets/Fonts/DancingScript-Medium.ttf);
}

@font-face {
  font-family: 'DS-Semi-Bold';
  src: url(./Assets/Fonts/DancingScript-SemiBold.ttf);
}

@font-face {
  font-family: 'DS-Regular';
  src: url(./Assets/Fonts/DancingScript-Regular.ttf);
}

textarea:focus, input:focus{
  outline: none;
}