.container {
    --animation-duration: 0.3s;
}

.foodgrid-container {
    width: 80%;
    margin: auto 10%;
    margin-top: 80px;
}

.foodgrid-header {
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 26px;
    color: rgb(102, 102, 102);
    margin-bottom: 30px;
}